
:root{

    --white: #FFFFFF;
    --black: #000000;
    --dark: #232830;
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-green: #65dd75;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
    --box : 

}

body{

    font-family: 'Quicksand', sans-serif;
    margin:0px;
    display: flex;
    justify-content: center;
}
.container {
   
    background:var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 30px;
    margin-top: 150px;
    width: 350px;
    height: 500px;
    box-shadow: 0px 0px 5px 1px black;

}
.title-logo{
    margin-top: -40px;
    margin-bottom: -30px;
}
.title-logo h1{
    margin-top: 5px;
    text-align:center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;

}

img {
    
    width: 30px;
    padding: 10px;
}



.form-control {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 60px;
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: var(--lg);
    font-weight: bold;
    padding: 0px;
    
     
}

.form-control input {
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    font-family: inherit;
    font-size: 14px;
    margin-bottom: -10px;
}

.form-control > p{

    font-size:x-small;
    color: red;
    display: none;
   
    
}
.container-forgot-remember{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
    

}



.container-forgot-remember label{
    margin-right: 50px;
    font-size: var(--sm);

}

label{
    font-size: var(--md);
    font-weight: bold;
}

.btn{
    
    font-size: large;
    width: 300px;
    height: 35px;
    border-radius: 30px;
    margin-top: 2px;
    margin-bottom: -25px;
    font-weight: bold;
    background-color:var(--hospital-green);
    border: none;
    color: var(--white);
    
    
}


.privacy-terms{
    
    display: flex;
    flex-direction: row;
    margin: 0px;
}

.privacy-terms a{
    margin-top: 20px;
  margin-left: 30px;
  margin-right: 30px;
}

a{ 
    
    font-size: small;
}

